{
  "openapi": "3.1.0",
  "info": {
    "title": "Zenedu API v1",
    "description": "API for managing Telegram bots, subscribers, products, funnels, offers, and orders on the Zenedu platform.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.zenedu.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "User",
      "description": "Current user profile"
    },
    {
      "name": "Bots",
      "description": "Bot management"
    },
    {
      "name": "Subscribers",
      "description": "Subscriber management"
    },
    {
      "name": "Orders",
      "description": "Order management"
    },
    {
      "name": "Products",
      "description": "Product management"
    },
    {
      "name": "Funnels",
      "description": "Funnel management"
    },
    {
      "name": "Offers",
      "description": "Offer management"
    },
    {
      "name": "Links",
      "description": "Link generation"
    },
    {
      "name": "Files",
      "description": "File downloads"
    },
    {
      "name": "Zapier",
      "description": "Zapier webhook management"
    },
    {
      "name": "Webhooks",
      "description": "Account webhook subscriptions"
    },
    {
      "name": "Bot settings",
      "description": "Bot configuration: email, branding, integrations, legal documents"
    },
    {
      "name": "Commands",
      "description": "Bot menu commands"
    },
    {
      "name": "Custom fields",
      "description": "Subscriber custom fields"
    },
    {
      "name": "Folders",
      "description": "Folders for products, funnels, channels and groups"
    },
    {
      "name": "Slugs",
      "description": "Public link slugs"
    },
    {
      "name": "Funnel links",
      "description": "Subscription links of a funnel"
    },
    {
      "name": "Coupons",
      "description": "Coupon management"
    },
    {
      "name": "Subscriptions",
      "description": "Recurring subscription management"
    },
    {
      "name": "Tasks",
      "description": "Student task review"
    },
    {
      "name": "Broadcasts",
      "description": "Broadcast messages"
    },
    {
      "name": "Automations",
      "description": "Event-based automations"
    },
    {
      "name": "Affiliate",
      "description": "Affiliate program management"
    },
    {
      "name": "Shop",
      "description": "Bot shop draft and publication"
    },
    {
      "name": "Channels",
      "description": "Telegram channels connected to the bot"
    },
    {
      "name": "Groups",
      "description": "Telegram groups connected to the bot"
    },
    {
      "name": "Mini-app",
      "description": "Telegram mini app configuration"
    },
    {
      "name": "Web",
      "description": "Web app configuration"
    }
  ],
  "paths": {
    "/api/v1/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get current user",
        "description": "Returns the authenticated user's profile.",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bots": {
      "get": {
        "operationId": "listBots",
        "summary": "List all bots",
        "description": "Returns all bots of the authenticated account, newest first. The list is not paginated.",
        "tags": [
          "Bots"
        ],
        "responses": {
          "200": {
            "description": "List of bots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bot"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createBot",
        "summary": "Create bot",
        "description": "Connects a new bot by its BotFather token. If the plan has no free slot, the bot is created inactive.",
        "tags": [
          "Bots"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Bot token from BotFather, must be unique"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bot created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Bot"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires account manage permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "description": "Returns all webhook subscriptions for the authenticated account, newest first. Requires account manage permission.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "List of webhook subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookSubscription"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires account manage permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create webhook",
        "description": "Creates a webhook subscription. The signing secret is generated server-side and is never returned.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscriptionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookSubscription"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires account manage permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error or webhook limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhooks/events": {
      "get": {
        "operationId": "listWebhookEvents",
        "summary": "List webhook events",
        "description": "Returns the event types available for webhook subscriptions.",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Available event types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "order.created",
                          "order.status.changed",
                          "subscriber.added",
                          "product.subscriber.added",
                          "funnel.subscriber.added",
                          "subscriber.contact.created",
                          "subscription.cancelled",
                          "tag.added",
                          "message.received",
                          "message.sent"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires account manage permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhooks/{webhook}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get webhook",
        "description": "Returns a single webhook subscription by ID.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "Webhook subscription ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookSubscription"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires account manage permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Webhook subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateWebhook",
        "summary": "Update webhook",
        "description": "Updates a webhook subscription. Send all fields; the full subscription is replaced.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "Webhook subscription ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSubscriptionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook subscription updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookSubscription"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires account manage permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Webhook subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete webhook",
        "description": "Deletes a webhook subscription.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "Webhook subscription ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook subscription deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires account manage permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Webhook subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhooks/{webhook}/active": {
      "put": {
        "operationId": "activateWebhook",
        "summary": "Activate webhook",
        "description": "Activates a webhook subscription and clears any automatic system stop caused by repeated delivery failures.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "Webhook subscription ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook subscription activated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookSubscription"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires account manage permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Webhook subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deactivateWebhook",
        "summary": "Deactivate webhook",
        "description": "Stops a webhook subscription without deleting it.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "Webhook subscription ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook subscription stopped",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookSubscription"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires account manage permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Webhook subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhooks/{webhook}/test": {
      "post": {
        "operationId": "testWebhook",
        "summary": "Send test webhook",
        "description": "Queues a test delivery to the subscription's URL.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "webhook",
            "in": "path",
            "required": true,
            "description": "Webhook subscription ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Test delivery queued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookSubscription"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires account manage permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Webhook subscription not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/settings": {
      "get": {
        "operationId": "getBotSettings",
        "summary": "Get bot settings",
        "description": "Returns the full settings for the specified bot: email, branding, integrations, and legal documents.",
        "tags": [
          "Bot settings"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bot settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BotSettings"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/settings/email": {
      "patch": {
        "operationId": "updateBotEmailSettings",
        "summary": "Update email settings",
        "description": "Updates the bot's email sender settings. Only the fields present in the request are changed; the full settings are returned.",
        "tags": [
          "Bot settings"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotEmailSettingsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated bot settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BotSettings"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/settings/email/logo": {
      "post": {
        "operationId": "uploadBotEmailLogo",
        "summary": "Upload email logo",
        "description": "Uploads the logo shown in emails. Accepts a jpg, jpeg, or png image up to 2 MB.",
        "tags": [
          "Bot settings"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file (jpg, jpeg, png), up to 2 MB"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated bot settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BotSettings"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error — invalid image or file too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteBotEmailLogo",
        "summary": "Delete email logo",
        "description": "Removes the email logo. Returns the full settings.",
        "tags": [
          "Bot settings"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated bot settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BotSettings"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/settings/branding": {
      "patch": {
        "operationId": "updateBotBranding",
        "summary": "Update branding",
        "description": "Updates the bot's branding (Zenedu branding visibility, theme, button color). Only the fields present in the request are changed.",
        "tags": [
          "Bot settings"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotBrandingInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated bot settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BotSettings"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/settings/integrations": {
      "patch": {
        "operationId": "updateBotIntegrations",
        "summary": "Update integrations",
        "description": "Updates analytics and tracking integrations (Meta Pixel and Conversions API, Google Analytics, Google Tag Manager). Only the fields present in the request are changed.",
        "tags": [
          "Bot settings"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotIntegrationsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated bot settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BotSettings"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/settings/integrations/google-sheets": {
      "delete": {
        "operationId": "disconnectGoogleSheets",
        "summary": "Disconnect Google Sheets",
        "description": "Disconnects the Google Sheets integration for the bot.",
        "tags": [
          "Bot settings"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated bot settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BotSettings"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/settings/integrations/google-sheets/spreadsheets/{spreadsheet}": {
      "delete": {
        "operationId": "removeGoogleSheetsSpreadsheet",
        "summary": "Remove Google Sheets spreadsheet",
        "description": "Removes a linked Google Sheets spreadsheet from the integration.",
        "tags": [
          "Bot settings"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "spreadsheet",
            "in": "path",
            "required": true,
            "description": "Linked spreadsheet ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated bot settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BotSettings"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Spreadsheet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/settings/legal/{type}": {
      "put": {
        "operationId": "saveBotLegalDocument",
        "summary": "Save legal document",
        "description": "Creates or updates a legal document (privacy policy or terms of service) for the bot.",
        "tags": [
          "Bot settings"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "Legal document type",
            "schema": {
              "type": "string",
              "enum": [
                "privacy",
                "terms"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotLegalDocumentInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated bot settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BotSettings"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers": {
      "get": {
        "operationId": "listSubscribers",
        "summary": "List subscribers",
        "description": "Returns a paginated list of subscribers for the specified bot, newest first. (Pro)",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Subscriber"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers/{student}": {
      "get": {
        "operationId": "getSubscriber",
        "summary": "Get subscriber",
        "description": "Returns a single subscriber by ID. (Pro)",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Subscriber not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateSubscriber",
        "summary": "Update subscriber",
        "description": "Updates name, contacts and notes of a subscriber. Only the passed fields are changed.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "First name, cannot be empty"
                  },
                  "last_name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 255,
                    "description": "Last name"
                  },
                  "email": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 255,
                    "description": "Email address"
                  },
                  "phone": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 255,
                    "description": "Phone number"
                  },
                  "notes": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 65535,
                    "description": "Notes about the subscriber"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot or permission to update the subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteSubscriber",
        "summary": "Delete subscriber",
        "description": "Deletes a subscriber from the bot.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Subscriber deleted"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot or permission to delete the subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers/{student}/messages": {
      "post": {
        "operationId": "sendSubscriberMessage",
        "summary": "Send message",
        "description": "Sends a text message to a subscriber via Telegram. Error bodies also carry a machine-readable `code`; a 429 includes `retry_after` and the Retry-After header. (Pro)",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 4096,
                    "description": "Message text to send"
                  },
                  "reply_to_message_id": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "minimum": 1,
                    "description": "Telegram message ID to reply to"
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Subscriber not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Subscriber is blocked or inactive, validation failed, or reply target not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Telegram rate limit exceeded — check the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Telegram message delivery failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers/{student}/funnels": {
      "post": {
        "operationId": "addSubscriberFunnel",
        "summary": "Add to funnel (by body)",
        "description": "Adds a subscriber to a funnel. A business refusal is returned with status 200 and a message instead of the subscriber. (Pro)",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "funnel_id": {
                    "type": "integer",
                    "description": "Funnel ID"
                  }
                },
                "required": [
                  "funnel_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber, or an object with a refusal message",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Subscriber"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listSubscriberFunnels",
        "summary": "List subscriber funnels",
        "description": "Returns the funnels the subscriber participates in, with progress and access.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funnels of the subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SubscriberProduct"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers/{student}/tags": {
      "post": {
        "operationId": "addSubscriberTags",
        "summary": "Add tags",
        "description": "Adds tags to a subscriber, creating missing tags in the bot. Existing tags are kept. (Pro)",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tag names to add"
                  }
                },
                "required": [
                  "tags"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "syncSubscriberTags",
        "summary": "Replace subscriber tags",
        "description": "Replaces the full tag list of a subscriber. Missing tags are created in the bot; tags removed from the last subscriber are deleted.",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 255
                    },
                    "description": "Complete list of tag names; pass an empty array to remove all tags"
                  }
                },
                "required": [
                  "tags"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers/{student}/offers": {
      "post": {
        "operationId": "addSubscriberOffer",
        "summary": "Add offer",
        "description": "Grants an offer to a subscriber by running it in the API channel. Does nothing if the subscriber already has the offer. (Pro)",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offer_id": {
                    "type": "integer",
                    "description": "Offer ID"
                  }
                },
                "required": [
                  "offer_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers/{student}/offers/revoke": {
      "post": {
        "operationId": "revokeSubscriberOffer",
        "summary": "Revoke offer access",
        "description": "Removes the subscriber's active access to all products and resources granted by the offer. (Pro)",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offer_id": {
                    "type": "integer",
                    "description": "Offer ID"
                  }
                },
                "required": [
                  "offer_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers/{student}/notes": {
      "post": {
        "operationId": "updateSubscriberNotes",
        "summary": "Update notes",
        "description": "Replaces the notes of a subscriber. (Pro)",
        "tags": [
          "Subscribers"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notes": {
                    "type": "string",
                    "maxLength": 65535,
                    "description": "Notes text"
                  }
                },
                "required": [
                  "notes"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "description": "Returns a paginated list of orders for the specified bot.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by order status",
            "schema": {
              "type": "string",
              "enum": [
                "paid",
                "unconfirmed",
                "cancelled",
                "refunded",
                "pending"
              ],
              "default": "paid"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Items per page",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of orders",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Order"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "Returns a paginated list of products for the specified bot.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of products",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Product"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProduct",
        "summary": "Create product",
        "description": "Creates a product. Optionally attaches an existing offer (offer_id) or creates a new one (offer).",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Product name"
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "mini_app",
                      "bot"
                    ],
                    "description": "Product platform"
                  },
                  "folder_id": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Folder ID"
                  },
                  "template_code": {
                    "type": "string",
                    "nullable": true,
                    "description": "Template code"
                  },
                  "offer_id": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Existing offer ID of the bot; cannot be combined with offer"
                  },
                  "offer": {
                    "type": "object",
                    "description": "New offer to create together with the product. Same fields as the create offer request; mutually exclusive with offer_id. Product only.",
                    "additionalProperties": true
                  }
                },
                "required": [
                  "name",
                  "platform"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created product; offer_id is the ID of the attached or created offer, if any",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Product"
                    },
                    "offer_id": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Attached or created offer ID"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/funnels": {
      "get": {
        "operationId": "listFunnels",
        "summary": "List funnels",
        "description": "Returns a paginated list of funnels for the specified bot.",
        "tags": [
          "Funnels"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of funnels",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Product"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createFunnel",
        "summary": "Create funnel",
        "description": "Creates a funnel in the bot.",
        "tags": [
          "Funnels"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Funnel name"
                  },
                  "folder_id": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Folder ID to place the funnel in"
                  },
                  "template_code": {
                    "type": "string",
                    "nullable": true,
                    "description": "Template code to create the funnel from"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Funnel created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Product"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/offers": {
      "get": {
        "operationId": "listOffers",
        "summary": "List offers",
        "description": "Returns a paginated list of offers for the specified bot.",
        "tags": [
          "Offers"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of offers",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Offer"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createOffer",
        "summary": "Create offer",
        "description": "Creates an offer. Name, price and currency are required.",
        "tags": [
          "Offers"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "price",
                  "currency"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 250,
                    "description": "Offer name"
                  },
                  "price": {
                    "type": "number",
                    "minimum": 0,
                    "description": "Price in main currency units, for example 10.00. 0 creates a free offer"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Currency code",
                    "enum": [
                      "USD",
                      "EUR",
                      "UAH",
                      "PLN",
                      "KZT",
                      "CNY",
                      "CHF",
                      "CZK",
                      "GBP",
                      "SGD",
                      "ILS",
                      "CAD",
                      "JPY",
                      "HKD",
                      "AUD",
                      "MDL",
                      "BGN",
                      "TRY",
                      "KGS",
                      "MXN",
                      "RON"
                    ]
                  },
                  "is_subscription": {
                    "type": "boolean",
                    "description": "Whether this is a recurring subscription"
                  },
                  "subscription_period": {
                    "type": "object",
                    "nullable": true,
                    "description": "Billing period of a subscription",
                    "required": [
                      "amount",
                      "interval"
                    ],
                    "properties": {
                      "amount": {
                        "type": "integer",
                        "minimum": 1
                      },
                      "interval": {
                        "type": "string",
                        "enum": [
                          "day",
                          "week",
                          "month",
                          "year"
                        ]
                      }
                    }
                  },
                  "public_name": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 250,
                    "description": "Name shown on the payment page"
                  },
                  "landing_text": {
                    "type": "string",
                    "nullable": true,
                    "description": "Payment page description"
                  },
                  "landing_button": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 250,
                    "description": "Payment page button text"
                  },
                  "link_text": {
                    "type": "string",
                    "nullable": true,
                    "description": "Offer description"
                  },
                  "offerables": {
                    "type": "array",
                    "description": "Products and resources included in the offer, in display order. When passed on update, replaces the current list",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "product",
                            "resource"
                          ]
                        },
                        "id": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "payment_system_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "Payment system IDs attached to the offer. When passed on update, replaces the current list"
                  },
                  "settings": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Offer settings grouped by key: access, timeLimit, usageLimit, paymentNotification, subscriptionNotification, paymentReminder, removeFromProducts, request_contacts, landingRequestContacts, appRequestContacts, subscriptionPaymentAttempts, landingPaymentEmail, subscriptionRenewalReminder, landingPaymentReminder, delete_steps, landingSettings, botMessage, paidTrial, appDisplay"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Offer created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Offer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — lacks access to this bot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/links/offer": {
      "post": {
        "operationId": "generateOfferLink",
        "summary": "Generate offer link",
        "description": "Generates a payment link for an offer. (Pro) If the offer is not found in this bot, the response is 200 with status \"error\" and message \"Offer not found\".",
        "tags": [
          "Links"
        ],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "offer_id"
                ],
                "properties": {
                  "offer_id": {
                    "type": "integer",
                    "description": "ID of the offer"
                  },
                  "usage_limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 999999,
                    "default": 1,
                    "description": "Maximum number of times the link can be used"
                  },
                  "expire_date": {
                    "type": "string",
                    "description": "Expiration date in Y-m-d H:i:s format (must be in the future)",
                    "example": "2026-12-31 23:59:59"
                  },
                  "create_order": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to create an order when the link is used"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Offer link generated, or an error payload when the offer is not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string",
                          "description": "Direct payment link"
                        },
                        "landing_link": {
                          "type": "string",
                          "description": "Landing page link"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
[...]
