{
  "openapi": "3.1.0",
  "info": {
    "title": "Zenedu API v1",
    "description": "API for managing Telegram bots, subscribers, products, funnels, offers, and orders on the Zenedu platform.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.zenedu.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    { "name": "User", "description": "Current user profile" },
    { "name": "Bots", "description": "Bot management" },
    { "name": "Subscribers", "description": "Subscriber management" },
    { "name": "Orders", "description": "Order management" },
    { "name": "Products", "description": "Product management" },
    { "name": "Funnels", "description": "Funnel management" },
    { "name": "Offers", "description": "Offer management" },
    { "name": "Links", "description": "Link generation" },
    { "name": "Files", "description": "File downloads" },
    { "name": "Zapier", "description": "Zapier webhook management" }
  ],
  "paths": {
    "/api/v1/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get current user",
        "description": "Returns the authenticated user's profile.",
        "tags": ["User"],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bots": {
      "get": {
        "operationId": "listBots",
        "summary": "List all bots",
        "description": "Returns a paginated list of bots belonging to the authenticated user.",
        "tags": ["Bots"],
        "responses": {
          "200": {
            "description": "Paginated list of bots",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/PaginatedResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Bot"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers": {
      "get": {
        "operationId": "listSubscribers",
        "summary": "List subscribers",
        "description": "Returns a paginated list of subscribers for the specified bot. (Pro)",
        "tags": ["Subscribers"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": { "type": "integer", "default": 30 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of subscribers",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/PaginatedResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Subscriber"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires Pro subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers/{student}": {
      "get": {
        "operationId": "getSubscriber",
        "summary": "Get subscriber",
        "description": "Returns a single subscriber by ID. (Pro)",
        "tags": ["Subscribers"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscriber details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Subscriber"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires Pro subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Subscriber not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers/{student}/messages": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Send message",
        "description": "Sends a text message to a subscriber via Telegram. (Pro)",
        "tags": ["Subscribers"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["text"],
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 4096,
                    "description": "Message text to send"
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Telegram message ID to reply to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires Pro subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Subscriber is blocked or inactive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — check the Retry-After header",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying",
                "schema": { "type": "integer" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Telegram message delivery failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers/{student}/funnels": {
      "post": {
        "operationId": "addSubscriberToFunnel",
        "summary": "Add to funnel",
        "description": "Adds the subscriber to a funnel. (Pro)",
        "tags": ["Subscribers"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["funnel_id"],
                "properties": {
                  "funnel_id": {
                    "type": "integer",
                    "description": "ID of the funnel to add the subscriber to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscriber added to funnel",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Subscriber"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires Pro subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers/{student}/tags": {
      "post": {
        "operationId": "addSubscriberTags",
        "summary": "Add tags",
        "description": "Adds tags to a subscriber. (Pro)",
        "tags": ["Subscribers"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tags"],
                "properties": {
                  "tags": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "Array of tag names to add"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tags added to subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Subscriber"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires Pro subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers/{student}/offers": {
      "post": {
        "operationId": "grantSubscriberOffer",
        "summary": "Grant offer",
        "description": "Grants an offer to a subscriber. (Pro)",
        "tags": ["Subscribers"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["offer_id"],
                "properties": {
                  "offer_id": {
                    "type": "integer",
                    "description": "ID of the offer to grant"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Offer granted to subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Subscriber"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires Pro subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers/{student}/offers/revoke": {
      "post": {
        "operationId": "revokeSubscriberOffer",
        "summary": "Revoke offer",
        "description": "Revokes an offer from a subscriber. (Pro)",
        "tags": ["Subscribers"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["offer_id"],
                "properties": {
                  "offer_id": {
                    "type": "integer",
                    "description": "ID of the offer to revoke"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Offer revoked from subscriber",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Subscriber"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires Pro subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/subscribers/{student}/notes": {
      "post": {
        "operationId": "updateSubscriberNotes",
        "summary": "Update notes",
        "description": "Updates the notes for a subscriber. (Pro)",
        "tags": ["Subscribers"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "student",
            "in": "path",
            "required": true,
            "description": "Subscriber ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["notes"],
                "properties": {
                  "notes": {
                    "type": "string",
                    "maxLength": 65535,
                    "description": "Notes text for the subscriber"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notes updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Subscriber"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires Pro subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "description": "Returns a paginated list of orders for the specified bot.",
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by order status",
            "schema": {
              "type": "string",
              "enum": ["paid", "unconfirmed", "cancelled", "refunded", "pending"],
              "default": "paid"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": { "type": "integer", "default": 30 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of orders",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/PaginatedResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Order"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products",
        "description": "Returns a paginated list of products for the specified bot.",
        "tags": ["Products"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": { "type": "integer", "default": 30 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of products",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/PaginatedResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Product"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/funnels": {
      "get": {
        "operationId": "listFunnels",
        "summary": "List funnels",
        "description": "Returns a paginated list of funnels for the specified bot.",
        "tags": ["Funnels"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": { "type": "integer", "default": 30 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of funnels",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/PaginatedResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Product"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/offers": {
      "get": {
        "operationId": "listOffers",
        "summary": "List offers",
        "description": "Returns a paginated list of offers for the specified bot.",
        "tags": ["Offers"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": { "type": "integer", "default": 30 }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of offers",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/PaginatedResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Offer"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/links/offer": {
      "post": {
        "operationId": "generateOfferLink",
        "summary": "Generate offer link",
        "description": "Generates a payment link for an offer. (Pro)",
        "tags": ["Links"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["offer_id"],
                "properties": {
                  "offer_id": {
                    "type": "integer",
                    "description": "ID of the offer"
                  },
                  "usage_limit": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 999999,
                    "default": 1,
                    "description": "Maximum number of times the link can be used"
                  },
                  "expire_date": {
                    "type": "string",
                    "description": "Expiration date in Y-m-d H:i:s format (must be in the future)",
                    "example": "2026-12-31 23:59:59"
                  },
                  "create_order": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to create an order when the link is used"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Offer link generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string",
                          "description": "Direct payment link"
                        },
                        "landing_link": {
                          "type": "string",
                          "description": "Landing page link"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires Pro subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/links/funnel": {
      "post": {
        "operationId": "generateFunnelLink",
        "summary": "Generate funnel link",
        "description": "Generates an invite link for a funnel. (Pro)",
        "tags": ["Links"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["funnel_id", "name"],
                "properties": {
                  "funnel_id": {
                    "type": "integer",
                    "description": "ID of the funnel"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name for the generated link"
                  },
                  "expire_date": {
                    "type": "string",
                    "description": "Expiration date in Y-m-d H:i:s format (must be in the future)",
                    "example": "2026-12-31 23:59:59"
                  },
                  "request_email": {
                    "type": "boolean",
                    "description": "Whether to request email on the landing page"
                  },
                  "request_phone": {
                    "type": "boolean",
                    "description": "Whether to request phone on the landing page"
                  },
                  "tags": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "Tags to assign to subscribers who use this link"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Funnel link generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "link": {
                          "type": "string",
                          "description": "Direct invite link"
                        },
                        "landing_link": {
                          "type": "string",
                          "description": "Landing page link"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires Pro subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/file/{message}": {
      "get": {
        "operationId": "downloadFile",
        "summary": "Download file",
        "description": "Downloads a file attached to a message.",
        "tags": ["Files"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          },
          {
            "name": "message",
            "in": "path",
            "required": true,
            "description": "Message ID",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "File binary data",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Provider failed to serve the file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bot/{bot}/zapier_webhook": {
      "post": {
        "operationId": "createZapierWebhook",
        "summary": "Create Zapier webhook",
        "description": "Registers a Zapier webhook for the specified bot. (Pro)",
        "tags": ["Zapier"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hookUrl", "trigger"],
                "properties": {
                  "hookUrl": {
                    "type": "string",
                    "description": "Zapier webhook URL"
                  },
                  "trigger": {
                    "type": "string",
                    "description": "Event trigger name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "ID of the created webhook"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires Pro subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteZapierWebhook",
        "summary": "Delete Zapier webhook",
        "description": "Removes a Zapier webhook from the specified bot. (Pro)",
        "tags": ["Zapier"],
        "parameters": [
          {
            "name": "bot",
            "in": "path",
            "required": true,
            "description": "Bot ID",
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hookId"],
                "properties": {
                  "hookId": {
                    "type": "integer",
                    "description": "ID of the webhook to delete"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires Pro subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Laravel Sanctum API token"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "User ID"
          },
          "first_name": {
            "type": "string",
            "description": "First name"
          },
          "last_name": {
            "type": "string",
            "description": "Last name"
          },
          "username": {
            "type": "string",
            "description": "Telegram username"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Account creation timestamp"
          }
        }
      },
      "Bot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Bot ID"
          },
          "name": {
            "type": "string",
            "description": "Bot display name"
          },
          "username": {
            "type": "string",
            "description": "Telegram bot username"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the bot is active"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "Subscriber": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Subscriber ID"
          },
          "user_id": {
            "type": "integer",
            "description": "Telegram user ID"
          },
          "first_name": {
            "type": "string",
            "description": "First name"
          },
          "last_name": {
            "type": "string",
            "nullable": true,
            "description": "Last name"
          },
          "username": {
            "type": "string",
            "nullable": true,
            "description": "Telegram username"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Phone number"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Email address"
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Notes about the subscriber"
          },
          "tags": {
            "type": "string",
            "nullable": true,
            "description": "Comma-separated list of tags"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the subscriber is active"
          },
          "is_blocked": {
            "type": "boolean",
            "description": "Whether the subscriber has blocked the bot"
          },
          "last_active_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Last activity timestamp"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Subscription timestamp"
          },
          "utm_tags": {
            "type": "object",
            "nullable": true,
            "description": "UTM tracking tags"
          },
          "custom_fields": {
            "type": "object",
            "nullable": true,
            "description": "Custom fields"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Order ID"
          },
          "uuid": {
            "type": "string",
            "description": "Order UUID"
          },
          "number": {
            "type": "string",
            "description": "Order number"
          },
          "offer_id": {
            "type": "integer",
            "description": "Associated offer ID"
          },
          "offer_name": {
            "type": "string",
            "description": "Name of the offer"
          },
          "price": {
            "type": "number",
            "description": "Order price"
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g. USD, EUR)"
          },
          "type": {
            "type": "string",
            "description": "Order type"
          },
          "payment_system_type": {
            "type": "string",
            "nullable": true,
            "description": "Payment system type identifier"
          },
          "payment_system_name": {
            "type": "string",
            "nullable": true,
            "description": "Payment system display name"
          },
          "status": {
            "type": "string",
            "description": "Current order status"
          },
          "old_status": {
            "type": "string",
            "nullable": true,
            "description": "Previous order status"
          },
          "status_changed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "When the status last changed"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Order creation timestamp"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Customer email"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Customer phone"
          },
          "subscriber": {
            "$ref": "#/components/schemas/Subscriber"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Product ID"
          },
          "name": {
            "type": "string",
            "description": "Product name"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the product is active"
          },
          "subscribers_count": {
            "type": "integer",
            "description": "Number of subscribers"
          },
          "steps_count": {
            "type": "integer",
            "description": "Number of steps"
          },
          "sections_count": {
            "type": "integer",
            "description": "Number of sections"
          },
          "cover_url": {
            "type": "string",
            "nullable": true,
            "description": "Cover image URL"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Product description"
          },
          "restart_enabled": {
            "type": "boolean",
            "description": "Whether restart is enabled"
          },
          "autodelete_steps_enabled": {
            "type": "boolean",
            "description": "Whether auto-deletion of steps is enabled"
          },
          "template_url": {
            "type": "string",
            "nullable": true,
            "description": "Template URL"
          },
          "template_url_enabled": {
            "type": "boolean",
            "description": "Whether template URL is enabled"
          },
          "direct_subscription_access": {
            "type": "boolean",
            "description": "Whether direct subscription access is allowed"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Offer ID"
          },
          "name": {
            "type": "string",
            "description": "Offer name"
          },
          "price": {
            "type": "number",
            "description": "Offer price"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether the offer is active"
          },
          "is_subscription": {
            "type": "boolean",
            "description": "Whether this is a recurring subscription"
          },
          "accesses_count": {
            "type": "integer",
            "description": "Number of product accesses included"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Offer description"
          },
          "landing_name": {
            "type": "string",
            "nullable": true,
            "description": "Landing page name"
          },
          "landing_description": {
            "type": "string",
            "nullable": true,
            "description": "Landing page description"
          },
          "cover_url": {
            "type": "string",
            "nullable": true,
            "description": "Cover image URL"
          },
          "request_contacts": {
            "type": "boolean",
            "description": "Whether contacts are requested on landing"
          },
          "time_limit_enabled": {
            "type": "boolean",
            "description": "Whether time limit is enabled"
          },
          "usage_limit_enabled": {
            "type": "boolean",
            "description": "Whether usage limit is enabled"
          },
          "access_limit_enabled": {
            "type": "boolean",
            "description": "Whether access limit is enabled"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "link": {
            "type": "string",
            "description": "Direct payment link"
          },
          "landing_link": {
            "type": "string",
            "description": "Landing page link"
          },
          "direct_payment_links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Payment system name"
                },
                "link": {
                  "type": "string",
                  "description": "Direct payment link"
                }
              }
            },
            "description": "Direct payment links per payment system"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Message ID"
          },
          "telegram_message_id": {
            "type": "integer",
            "description": "Telegram message ID"
          },
          "text": {
            "type": "string",
            "description": "Message text"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Message creation timestamp"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error message"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": { "type": "string" }
            },
            "description": "Validation errors keyed by field name"
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {}
          },
          "links": {
            "type": "object",
            "properties": {
              "first": { "type": "string", "nullable": true },
              "last": { "type": "string", "nullable": true },
              "prev": { "type": "string", "nullable": true },
              "next": { "type": "string", "nullable": true }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": { "type": "integer" },
              "from": { "type": "integer", "nullable": true },
              "last_page": { "type": "integer" },
              "path": { "type": "string" },
              "per_page": { "type": "integer" },
              "to": { "type": "integer", "nullable": true },
              "total": { "type": "integer" }
            }
          }
        }
      }
    }
  }
}
